.logo {
  margin: 0 auto;
  display: inline-block;
  margin: 0;
  width: 100%;
  max-width: 200px;

  @media (min-width: 768px) {
    width: 100%;
    max-width: 254px;
    height: auto;
  }
}

.dig-header {
  .logos {
    align-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: none;
    width: 60%;

    .logo,
    .dig-logo {
      display: block;
      height: 100%;
    }

    .logo {
      flex-basis: 63%;
      max-width: none;
    }

    .dig-logo {
      margin-left: 7%;
      flex-basis: 30%;
    }

    @media (min-width: 600px) {
      width: 50%;
    }

    @media (min-width: 768px) {
      width: 40%;
    }

    @media (min-width: 1200px) {
      width: 30%;
    }
  }
}
